html{
    width:100%;
}
body{
    width:100%;
}
.col-lg-12{
    text-align:center;
    font-family: roboto;
}
.col-lg-11{
    background-color:#676767;
    text-align:right;
    color:white;
    width:100%;
    height:120px;
    margin-top:150px;
    font-family: roboto;
}
col-lg-1{
    background-color: #676767;
}
img{
    margin-top:60px;
}

.col-lg-7{
    padding-left: 300px;
}
.str{
    font-size: 50px;
}
.pos {
    margin-top:100px;   
    margin-right:200px;
    
}